@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  overflow-x: hidden;
}


/** Scrollbar App **/

::-webkit-scrollbar {
  width: 7px;
}
  
::-webkit-scrollbar-track { 
  background: #ececec;
}
  
::-webkit-scrollbar-thumb {
  background: #d4d4d4;
  border-radius: 7px;
}
  
:-webkit-scrollbar-thumb:hover {
  background: #888888;
}



/** Checkboxes **/

input[type="checkbox"] {
  appearance: none;
  cursor: pointer;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid rgb(179, 179, 179);
  width: 13px;
  height: 13px;
}

input[type="checkbox"]:checked {
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 20 20%27%3e%3cpath fill=%27none%27 stroke=%27%23000%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%273%27 d=%27m6 10 3 3 6-6%27/%3e%3c/svg%3e");
}



/* Tables */

tbody tr:hover svg {
  color: white;
}

tbody tr:hover .code-p_list {
  color: rgb(224, 224, 224);
}

tbody tr:hover .sizes-p_list div, tbody tr:hover .color-p_list {
  border: 1px solid white;
}

tbody tr:hover .runout_size-p_list {
  background-color: #64748b4b;
  color: #64748b;
  border: 1px solid #64748b !important;
}